[submodule "dependencies/Utils"]
	path = dependencies/Utils
	url = git@github.com:ValeriiKoniushenko/Utils.git
	branch = develop
	ignore = dirty
[submodule "dependencies/rapidxml"]
	path = dependencies/rapidxml
	url = git@github.com:0x08088405/rapidxml.git
    ignore = dirty
[submodule "dependencies/spdlog"]
	path = dependencies/spdlog
	url = git@github.com:gabime/spdlog.git
